* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.company-hero {
  position: relative;
  height: 34.875rem;
  overflow: hidden;
}

.company-hero__image {
  position: absolute;
}

.company-hero__copy {
  bottom: 0;
  right: 0;
  height: 100px;
  width: 500px;
  padding: 7rem 1.875rem
}

.company-hero__title {
  position: absolute;
  top: 13.75rem;
  left: 49rem;

  margin: 0;
  margin-bottom: 3rem;

  font-size: 7.5rem;
  line-height: 7.5rem;
  letter-spacing: -0.3125rem;
  color: yellow;
}

.company-hero__copy p {
  position: absolute;
  top: 24.5rem;
  left: 49rem;
  width: 36.8125rem;

  font-size: .9375rem;
  line-height: 1.875rem;
  color: var(--color-copy--alt);
}

.call {
  margin-top: 8rem;
}

.call__container {
  display: grid;
  grid-template-columns: 1.75fr 1fr;

}

.call__container img {
  height: 680px;
  margin-top: 2.5rem;
}

.call h2 {
  font-size: 1.5625rem;
  font-weight: 700;

  margin-bottom: 3.125rem;
}

.call p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.0625rem;
}

.call .call__fst-copy {
  width: 25.1875rem;
  margin-bottom: 2.8125rem;
}
